
@using WebApplication17.Models;
@model List<Expert>
@{
    int Count = 0;

}
<a class="btn btn-primary" asp-action="Create" > Create</a>
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Job</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                Count++;
                
           
            <tr>
                <th scope="row">@Count</th>
                <td>@item.FullName</td>
                <td>@item.Job</td>
                <td>
                    <div style="width:100px">
                        <img style="width:100%" src="~/Upload/manage/@item.ImgUrl"  >
                    </div>
                </td>
                <td>
                    <a class="btn btn-secondary " asp-action="Delete" asp-route-id="@item.Id">Delete </a>
                        <a class="btn btn-primary " asp-action="Update" asp-route-id="@item.Id">update </a>

                </td>
                
            </tr>
            }
        </tbody>
    </table>
</div>